backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "projects"
    label: "Projects"
    files:
      - name: "allprojects"
        label: "All Projects"
        file: "content/projects/index.json"
        fields:
          - label: "Projects"
            name: "projects"
            widget: "list"
            fields:
              - { label: "Project Title", name: "title", widget: "string" }
              - { label: "Category", name: "type", widget: "string" }
              - { label: "Location", name: "location", widget: "string" }
              - { label: "Image", name: "image", widget: "image" }
