backend:
  name: github
  repo: nik867438/architecture-portfolio
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "projects"
    label: "Projects"
    files:
      - name: "allprojects"
        label: "All Projects"
        file: "content/projects/index.json"
        fields:
          - label: "Projects"
            name: "projects"
            widget: "list"
            fields:
              - label: "Title"
                name: "title"
                widget: "string"
              - label: "Type"
                name: "type"
                widget: "string"
              - label: "Location"
                name: "location"
                widget: "string"
              - label: "Image"
                name: "image"
                widget: "image"
